<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
xmlns:gap   = "http://phonegap.com/ns/1.0"
  <name>24cyprus.com</name>

  <description>
Cyprus real estate free listings by owners
  </description>
  <author href="http://24cyprus.com" email="24cypruscom@gmail.com.com">
EPHONA LIMITED
  </author>

</widget>
